.loader {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin: -30px 0 0 -30px;
  animation: rotationLoaderPlayer 1s infinite linear;
  border: 6px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

.loader:before {
  content: "";
  display: block;
  position: absolute;
  left: -6px;
  top: -6px;
  height: 100%;
  width: 100%;
  border-top: 6px solid rgba(255, 255, 255, 0.8);
  border-left: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid transparent;
  border-radius: 100%;
}

@keyframes rotationLoaderPlayer {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
