:root {

  --z-index-loader: 1;
  --z-index-progress: 1;
  --z-index-fullscreen: 1;
  --z-index-header: 1;
  --z-index-range: 2;
  --z-index-tooltip: 2;
  --z-index-error: 3;
  --z-index-debug: 4;
  --z-index-audio: 5;


}
